[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = master
[submodule "factory_test/components/bus-i2c"]
	path = factory_test/components/bus-i2c
	url = git@github.com:Nicolai-Electronics/esp32-component-bus-i2c.git
	branch = master
[submodule "factory_test/components/i2c-pca9555"]
	path = factory_test/components/i2c-pca9555
	url = git@github.com:Nicolai-Electronics/esp32-component-i2c-pca9555.git
	branch = master
[submodule "factory_test/components/i2c-bno055"]
	path = factory_test/components/i2c-bno055
	url = git@github.com:Nicolai-Electronics/esp32-component-i2c-bno055.git
	branch = master
[submodule "factory_test/components/spi-ili9341"]
	path = factory_test/components/spi-ili9341
	url = git@github.com:Nicolai-Electronics/esp32-component-spi-ili9341.git
	branch = master
[submodule "factory_test/components/spi-ice40"]
	path = factory_test/components/spi-ice40
	url = git@github.com:Nicolai-Electronics/esp32-component-spi-ice40.git
	branch = master
